/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror {
  color: #1a202c;
  background: white;
  min-height: 200px;
}

.ProseMirror p {
  margin: 1em 0;
}

.ProseMirror > * + * {
  margin-top: 0.75em;
}

.ProseMirror ul,
.ProseMirror ol {
  padding: 0 1rem;
}

.ProseMirror blockquote {
  border-left: 4px solid #e2e8f0;
  padding-left: 1rem;
  font-style: italic;
}

.ProseMirror h1 {
  font-size: 2em;
}

.ProseMirror h2 {
  font-size: 1.5em;
}

.ProseMirror h3 {
  font-size: 1.17em;
}
